@model AspAdminTemplate.ViewModels.categorySubCategories

@{
    ViewData["Title"] = "Edit";
}
    <header id="home" class="header-admin">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  bg-bleu navbar-avatar   mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="categories" asp-action="Index">   <img src="~/assets/img/logo.svg" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 list-avatar">

                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-controller="categories" asp-action="Index">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark " asp-controller="categories" asp-action="IndexAdmin">Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark " asp-controller="subcategories" asp-action="Index">Sous Categories</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark " asp-controller="forms" asp-action="Index">Demande de film</a>
                        </li>
                        @*<li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="applicationroles" asp-action="Index">
                                <i class="fas fa-cogs"></i> <span>Roles</span>
                            </a>
                        </li>*@
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="admin" asp-action="Index">
                                <i class="fas fa-users"></i> <span>Users</span>
                            </a>
                        </li>
                        <li class="nav-item">

                            @*<a class="dropdown-item has-icon" asp-action="Update" asp-controller="Admin" asp-route-id="@UserManager.GetUserId(User)">
                                <i class="far fa-user"></i> Edit Profile
                            </a>*@
                            @*<div class="dropdown-divider"></div>*@
                            <a class="nav-link" asp-controller="Account" asp-action="Logout">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>

                        </li>




                    </ul>


                </div>
            </div>
        </nav>






    </header>
    <div class="container">
        <h6>Edit</h6>


        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="id" />
                    <div class="form-group">
                        <label asp-for="Nom" class="control-label"></label>
                        <input asp-for="Nom" class="form-control" />
                        <span asp-validation-for="Nom" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="miseAjour" class="control-label"></label>
                        <input asp-for="miseAjour" class="form-control" />
                        <span asp-validation-for="miseAjour" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="categorieid" class="control-label"></label>
                        <select asp-for="categorieid" asp-items="@(new SelectList(Model.Cat,"id","name"))" class="form-control"></select>
                        <span asp-validation-for="categorieid" class="text-danger"></span>
                    </div>



                    <div class="form-group">
                        <label asp-for="file" class="control-label"></label>
                        <input type="file" name="file" asp-for="file" class="form-control picture inputFile" />
                        <span asp-validation-for="file" class="text-danger"></span>

                        <input type="hidden" asp-for="FileUrl" class="form-control picture inputFile" />

                    </div>
                    <div class="row">
                        <div class="form-group  mr-3">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                        <div class="form-group  ">
                            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>

       
    </div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}