@model AspAdminTemplate.Models.ApplicationUser

@{
    ViewData["Title"] = "Update";
}
<header id="home" class="header-admin">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light  bg-bleu navbar-avatar   mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="categories" asp-action="Index">   <img src="~/assets/img/logo.svg" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1 list-avatar">

                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-controller="categories" asp-action="Index">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark " asp-controller="categories" asp-action="IndexAdmin">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark " asp-controller="subcategories" asp-action="Index">Sous Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark " asp-controller="forms" asp-action="Index">Demande de film</a>
                    </li>
                    @*<li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="applicationroles" asp-action="Index">
                                <i class="fas fa-cogs"></i> <span>Roles</span>
                            </a>
                        </li>*@
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="admin" asp-action="Index">
                            <i class="fas fa-users"></i> <span>Users</span>
                        </a>
                    </li>
                    <li class="nav-item">

                        @*<a class="dropdown-item has-icon" asp-action="Update" asp-controller="Admin" asp-route-id="@UserManager.GetUserId(User)">
                                <i class="far fa-user"></i> Edit Profile
                            </a>*@
                        @*<div class="dropdown-divider"></div>*@
                        <a class="nav-link" asp-controller="Account" asp-action="Logout">
                            <i class="fas fa-sign-out-alt"></i> Logout
                        </a>

                    </li>




                </ul>


            </div>
        </div>
    </nav>




</header>
<section class="section">
    <div class="section-header container">
        <h5>Modifier un utilisateur</h5>
    </div>

    <div class="section-body container">
        <h6 class="section-title">Modifier un utilisateur</h6>

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header card-relative">
                        <div class="card-header-form card-relative">
                            <div asp-validation-summary="All" class="text-danger"></div>
                        </div>
                    </div>
                    <div class="card-body">
                        <form asp-action="Update" method="post">
                            <div class="form-group">
                                <label asp-for="Id"></label>
                                <input asp-for="Id" class="form-control" disabled />
                            </div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input asp-for="Email" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input name="password" class="form-control" type="password" />
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
